.back-button {
    position: fixed; /* Fixed position to keep it at the top-left corner */
    top: 5px;
    left: 20px;
    font-size: 50px; /* Adjust the size as needed */
    text-decoration: none; /* Remove default link underline */
    color: #00fffb; /* Button color */
    padding: 10px; /* Add padding for better clickability */
    transition: transform 0.3s ease; /* Add transition effect */
    z-index: 9999;
}

.back-button:hover {
    transform: scale(1.1); /* Scale up on hover */
}