body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Black background */
    color: #00fffb; /* Turquoise text color */
}

h1 {
    text-align: center;
    color: #00fffb; /* White heading color */
}

.container {
    display: flex;
    justify-content: center;
}

.graph-container {
    margin: 20px;
    width: 100%;
    height: 600px;
    background-color: #1a1a1a; /* Dark grey background for graph container */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Box shadow for container */
}

canvas {
    display: block;
    width: 1500px;
    height: 1000px;
}

.table-container {
    margin: 20px;
    width: 50%;
}

h2 {
    color: #00fffb; /* Turquoise heading color */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #00fffb; /* Turquoise border bottom */
}

th {
    background-color: #1a1a1a; /* Dark grey background for table headers */
}

tr:nth-child(even) {
    background-color: #383838; /* Darker grey background for even rows */
}

tr:hover {
    background-color: #555; /* Darker background on hover */
}